.sideNav {
  width: 20%;
  background: linear-gradient(
    63.18deg,
    #000c12 0%,
    rgba(0, 6, 10, 0.7) 43.89%,
    rgba(0, 100, 151, 0.440331) 78.03%,
    rgba(0, 135, 203, 0.21896) 86.48%,
    rgba(0, 170, 255, 0) 100%
  );
  height: max-content;
  padding: 25px 0px;
}

.NavLink {
  display: block;
  text-decoration: none;
  width: 70%;
  margin: auto;
  text-align: center;
  padding: 12px;
  border-radius: 8px;
  color: white;
  margin-top: 1rem;
}
.active {
  background-color: #0077b7;
}

.NavLink__Logout {
  margin-top: 4rem;
}

.NavLink__Dashboard {
  margin-top: 1rem;
}
