.reset-password__navbar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.reset-password__logo {
  width: 100px;
  margin-top: 1rem;
}

.reset-password__title {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  font-size: 20px;
  font-family: "Playfair Display", sans-serif;
  font-weight: 800;
}

.reset-password__card-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.reset-password__card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: fit-content;
  margin: 3rem;
  padding: 2.5rem 0;
  background: linear-gradient(
    167.37deg,
    rgba(2, 14, 44, 0.51) 9.15%,
    rgba(9, 36, 94, 0.5) 64.83%
  );
  backdrop-filter: blur(24px);
  border-radius: 21px;
}

.reset-password__card-heading {
  color: white;
  margin-bottom: 2rem;
  padding: 0 2.5rem;
  font-size: 25px;
  cursor: default;
  text-align: center;
}

.reset-password__password-input {
  all: unset;
  color: white;
  width: 300px;
  margin: 0 2rem;
  margin-bottom: 0.5rem;
  background: rgba(217, 217, 217, 0.6);
  border-radius: 4px;
  padding: 0.5rem;
}

.reset-password__reset-button {
  width: 300px;
  margin: 2rem;
  font-size: 22px;
  font-weight: 600;
  background: #0077b7;
  border-radius: 4px;
  color: white;
  border: none;
  cursor: pointer;
  padding: 1rem 0;
}

.reset-password__send-email:hover {
  opacity: 0.8;
}

.reset-password__login {
  font-size: 20px;
  font-weight: 800;
  color: #0077b7;
  cursor: pointer;
}

.reset-password__login:hover {
  border-bottom: 2px solid #0077b7;
}
