.formContainer {
  width: 30%;
  height: 80vh;
}

.formContainer input {
  width: 65%;
  padding: 12px 14px;
  margin: 5px;
  font-size: 1.2rem;
}

.SignInBtn {
  color: white;
  cursor: pointer;
  padding: 12px 8px;
  font-size: 1rem;
  width: 73%;
  background: none;
  font-weight: bold;
  border: 2px solid #29539b;
  border-radius: 4px;
  margin: 10px;
  background-color: #29539b;
}

.SignInBtn:hover {
  opacity: 0.8;
}

.back-button {
  font-size: 2.5rem;
  color: #29539b;
  margin-top: 2rem;
  cursor: pointer;
}

.back-button:hover {
  opacity: 0.8;
}
